@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* universal */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans Mono', monospace;
  color: black;
  background-color: white;
  width: auto;
}

/*fixed position to show that the website is unofficial*/
footer {
  justify-content: flex-end;
  left: 0;
  bottom: 0;
  width: 100%;
}

.clear {
  border-radius: 3px;
  clear: both;
  height: 60px;
}

#callUS {
  text-decoration: none;
  background-color: white;
  color: black;
}

#frontImage {
  width: 100%;
  height: 400px;
  ;
  margin: 0 auto;
  position: relative;
}

::selection {
  background: rgb(191 217 191)
}

section {
  scroll-margin-top: 7em;
}

.divider {
  background: black;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: black;
  padding: 1px;
}

a {
  text-decoration: none;
  color: white;
  background-color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: red;
}


.inv {
  display: none;
}

/* nav */
.navbar {
  padding: 1em;
  position: sticky;
  top: 0px;
  color: white;
  mix-blend-mode: difference;
}

.navitem {
  font-size: 1.2rem;
  color: white;
}

.navitem:hover {
  color: white;
}


#about {
  height: 75vh;
  scroll-margin-top: -2.5em;
}

.outliner {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  Width: 500spx;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: left;
  padding: 5% 5% 1% 5%;
}

.card {
  margin-bottom: 2%;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.contactCard {
  width: 400px;
  height: 400px;
  margin-left: 20%;
  margin-top: 5%;
  display: inline-block;
  padding: 5px;
  border-radius: 10%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-color: black;
  " 

}

.card:hover {
  transform: translateY(20px);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card .info h1 {
  color: orange;
  font-size: 14px;
  margin: 0px;
}

.card .info p {
  bottom: 30px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Cherry Swash', cursive;
  font-size: 12px;
}

.icon {
  color: orange;
}

.icon:hover {
  color: purple;
}

.card .info button:hover {
  background: dodgerblue;
  color: white;
}

#my_contact {
  border-top: 0.1em solid;
  background-color: rgb(235 235 235);
}

.about-me {
  font-size: 1.2rem;
  padding-right: 3%;
  padding-left: 3%;
}


#copyright {
  background-color: rgb(235 235 235);
  margin-top: 0;
  align-items: flex-start;
  justify-content: end;
}

.who-header {
  font-size: 6em;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 0.8;
}

#footer-header {
  font-family: 'DM Serif Display', serif;
  font-size: 5em;
  justify-content: flex-end;
  margin-bottom: 0;
}

#more {
  font-size: 1.5em;
  line-height: 0.7;
}


@media (max-width: 1196px) {
  .d-header-small {
    font-size: 6rem;
  }
}

@media(max-width: 960px) {
  #active {
    width: 30em;
    right: calc(50% - 15em);
  }

  #popup-header {
    font-size: 2.6em;
  }

  #sry-col>h5 {
    font-size: 1.14rem;
  }

}

@media (max-width: 768px),
(max-height: 768px) and (max-width: 1076px) {
  #intro-title {
    font-size: 12rem;
  }

  #left-col-socials {
    padding-left: 2rem;
  }

  #active {
    width: 25em;
    right: calc(50% - 12em)
  }

  #sry-col>h5 {
    font-size: 1.1rem;
  }
}

@media (orientation: portrait) and (max-width: 576px) {
  #intro-title {
    text-align: center;
    font-size: clamp(8rem, -0.875rem + 8.333vw, 3.5rem);
  }

  #intro-sub {
    font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
    text-align: center;
    margin-left: 0;
  }

  #arrow-bounce {
    margin-top: 6em;
  }

  .work-title {
    text-align: center;
  }

  .d-header {
    font-size: 6em;
  }

  #work-header-box {
    margin-bottom: 2em;
  }

  p {
    font-size: 1rem !important;
  }

  .d-header-small {
    font-size: 5em;
    line-height: 1;
  }

  #more-info {
    font-size: 1.3em;
  }

  #copyright {
    font-size: 0.8em;
  }

  #active {
    width: 20em;
    right: calc(50% - 10em);
  }

  #popup-header {
    font-size: 2.3em;
  }

  #sry-col>h5 {
    font-size: 1rem;
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  background-color: gray;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.icon-bar a i:hover {
  color: blue;
}

.icon {
  size: large;
}

@media (orientation: landscape) and (max-height: 541px) {
  #intro-title {
    font-size: 8rem;
  }

}

@media (orientation: portrait) and (max-width: 350px) {
  #intro-title {
    font-size: 6rem;
    text-align: center;
  }

  #intro-sub {
    font-size: 1rem;
    text-align: center;
  }

  .d-header {
    font-size: 7em;
    margin-bottom: 0;
  }
}

@media (max-width: 432px) {
  .d-header-small {
    font-size: 4rem;
  }
}

@media (max-width: 360px) {
  #intro-title {
    font-size: 6rem;
  }
}